body {
    background-image: url("https://cdn.wallpaperdirect.com/shared-assets/images/products/082233full.jpg");
    text-align: center;
}

.main-container {
    opacity: .95;
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: darkcyan;
    border-radius: 10px;
    position: relative;
    top: 20%;

}

.hide {
    visibility: hidden;
}

#timer {
    font-size: 40px;
    color: greenyellow
}

div {
    color: white;
    font-size: 24px;
}


#game-logo,
#timer, 
#score-board,
#question-box,
#dialogue-box,
#answer-box,
#correct-answer {
    padding: 15px;
}

#game-logo {
    font-size: 60px;
}

#score-board {
    font-size: 20px;
}

#question-box {
    font-size: 30px;
    font-style: bold;
}

#dialogue-box {
    font-size: 28px;
    color: darkcyan;
}

#answer-box {
    width: 60%;
    margin: auto;
    /* background-color: aquamarine; */
    margin-bottom: 10px;
    /* opacity: .75; */
    border-radius: 10px;
}

#play-button {
    padding: 10px;
    background-color: rgb(36, 139, 199);
    opacity: .75;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-color: none;
}

#play-button:hover {
    opacity: 1;
    border-color: orange;
    color: orange;

}

.answer-button {
    width: 80%;
    padding: 5px;
    background-color: rgb(131, 27, 201);
    border-color: blueviolet;
    opacity: .75;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px auto 0px auto;
    
}

.answer-button:hover {
    opacity: 1;
    border-color: orange;
    color: orange
}


#drop-box {
    width: 40%;
    margin: auto;
    padding: 10px;
    background-color: beige;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: 20%;
}

#answer-description {
    color: darkcyan;
    font-size: 20px;
}