body {
    font-family: 'Roboto', sans-serif;
    /* background-image: url("https://cdn.wallpaperdirect.com/shared-assets/images/products/082233full.jpg"); */
    background-image: url(../images/background-image.jpg);
    text-align: center;
}

.main-container {
    opacity: .9;
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

h2 {
    line-height: 30px;
}

#logo {
    width: 25%;
    margin-top: 20px;
    margin-bottom: -30px;
}

img {
    width: 95%;
}

.hide {
    visibility: hidden;
}

#timer {
    width: 150px;
    font-size: 60px;
    color: black;
    background-color: orange;
    margin: -10px auto 15px auto;
    border-radius: 5px;
}

#game-name,
#timer, 
#score-board,
#question-box,
#dialogue-box,
#answer-box,
#correct-answer {
    padding: 5px;
}

#game-name {
    font-family: 'Gloria Hallelujah', 'cursive';
    font-size: 80px;
    color: orange;
    line-height: 70px;
}

#score-board {
    color: beige;
    font-size: 20px;
}

#question-box {
    font-size: 20px;
    width: 98%;
    border-radius: 5px;
    background-color: beige;
    color: darkred;
    margin: -20px auto auto auto;
    padding: 5px;
}

#dialogue-box {
    font-family: 'Gloria Hallelujah', 'cursive';
    font-size: 34px;
    color: orange;
    font-style: bold;
    margin-top: 5px;
    margin-bottom: -50px;
    /* line-height: 30px; */
}

#answer-box {
    width: 60%;
    margin: auto;
    /* margin-bottom: 10px; */
    border-radius: 10px;
}

#play-button {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: darkred;
    opacity: .75;
    color: beige;
    font-size: 20px;
    border-radius: 5px;
    border-color: none;
    width: 150px;
    margin: 20px 0px 30px 0px;

}

#play-button:hover {
    opacity: 1;
    border-color: orange;
    color: orange;
}

.answer-button {
    width: 80%;
    padding: 5px;
    background-color: darkred;
    border-color: darkred;
    opacity: .8;
    color: beige;
    font-size: 28px;
    border-radius: 5px;
    margin: 10px auto 0px auto;
    
}

.answer-button:hover {
    opacity: 1;
    border-color: orange;
    color: orange
}

#drop-box {
    font-family: 'Gloria Hallelujah', 'cursive';
    width: 48%;
    margin: auto;
    padding: 10px;
    opacity: .9;
    background-color: beige;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darkred;
    font-size: 30px;
}

#answer-description {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: -5px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: darkred;
    font-size: 24px;
}

@media only screen and (max-width: 780px) {
    .main-container {
        width: 95%;
    }

    #score-board {
        font-size: 18px;
    }

    #timer {
        font-size: 50px;
    }

    .answer-button {
        width: 95%;
        /* opacity: 1;
        border-color: orange;
        color: orange; */
    }

    #play-button {
        margin-top: 20px;
        /* opacity: 1;
        border-color: orange;
        color: orange; */
    }

    .answer-button:active {
        /* width: 95%; */
        opacity: 1;
        border-color: orange;
        color: orange;
    }

    #play-button:active {
        opacity: 1;
        opacity: .8;
        border-color: orange;
        color: orange;
    }

    #answer-box {
        width: 95%;
    }

    #drop-box {
        width: 85%;
    }

    #game-name {
        font-size: 60px;
    }

}