body {
    background-color: black;
    text-align: center;
}

.main-container {
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    background-color: darkcyan;
    border-radius: 10px;
}

.hide {
    visibility: hidden;
}

#timer {
    font-size: 40px;
    color: greenyellow
}

div {
    color: white;
    font-size: 24px;
}

#timer, 
#score-board,
#question-box,
#dialogue-box,
#answer-box {
    padding: 15px;
}

#play-button {
    padding: 10px;
    background-color: rgb(36, 139, 199);
    opacity: .75;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

#play-button:hover {
    opacity: 1;
}

.answer-button {
    padding: 5px;
    background-color: rgb(131, 27, 201);
    opacity: .75;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.answer-button:hover {
    opacity: 1;
}